.vscode/
.idea/
__pycache__/
*.pyc
*.pyo

ChampSim/.csconfig/
ChampSim/.build.lock
ChampSim/bin/
ChampSim/vcpkg/
ChampSim/vcpkg_installed/
ChampSim/_configuration.mk
ChampSim/champsim_config_auto.json
scripts/results_analysis/results/
scripts/experiments/**/figures/
figures/
json/
log/
traces/
ChampSim/prefetcher/**/step_*trace.log
